<section class="cmp">
  <div class="container">
    <div class="cmp__flex-box">
      <%= content_tag :div, class: "cmp__subsection" do %>
        <%= content_tag :h1, "Coffee Meets Protein", class: "cmp__heading" %>

        <%= image_tag 'brightly-title.svg', class: "cmp__title" %>

        <%= render 'subscribers/form', subscriber: @subscriber %>

        <%= content_tag :p, class: "cmp__tagline" do %>
          Sign up for our newsletter and receive a coupon <br>
          for a <span class="cmp__text-highlight">free</span> 
          8oz bottle of <span class="cmp__text-cursive">Brightly</span>.
        <% end %>
      <% end %>

      <%= image_tag 'cmp-bottles.png', class: "cmp__bottles" %>

    </div><!-- /.cmp__flex-box -->
  </div><!-- /.container -->
</section>