<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Brite Markets | Demo Application by Johnny Hu</title>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flash' %>
    
    <main>
      <%= render 'shared/cmp' %>
      <%= render 'shared/hwf' %>
      <%= render 'shared/sf' %>
      <%= render 'shared/snl' %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
