<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Brite Markets | Demo Application by Johnny Hu</title>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flash' %>
    
    <main>
      <%= render 'shared/cmp' %>
      <%= render 'shared/hwf' %>
      <%= render 'shared/sf' %>
      <section class="sf">
        <div class="container">
          <div class="sf__flex-box">
            <%= render 'subscribers/form', subscriber: @subscriber %>

            <%= content_tag :p, class: "sf__tagline" do %>
              Don’t miss out on the latest news, products <br>
              and special offers. Subscribe today!
            <% end %>
          </div>
        </div>
      </section>
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
